<p style="font-weight: 700;margin-top: -10px">Score: {{score}}</p>
<div class="grid-table">
    <app-layover (gamePaused)="onGamePaused($event)" state="{{gameState}}"></app-layover>
    <div *ngFor="let row of cells">
        <app-cell *ngFor="let cell of row" value="{{cell.value}}" state="{{cell.state}}"></app-cell>
    </div>
  </div>
  <h3 *ngIf="lastMove !== ''; else MakeAMove">Last Move: <span style="font-weight: 400;"><br>{{lastMove}}</span></h3>
  <ng-template #MakeAMove><h3 >Make A Move</h3></ng-template>
  <br>
